*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    list-style: none;
  }
  
  
  .container {
     width: 400px;
     background-color: #333;
     text-align: center;
     border-radius: 6px;
         padding:15px;
         border: 5px solid #5aff55;
         box-shadow: 0 0 5px #555;
         }
 
 
 
     .time p {
       font-size: 80px;
       font-weight: bold;
       color: #5aff55;
       }
 
     .date p {
       color: #eee;
       font-size: 24px;
       margin-top: 10px;
     }
     
 