<section>
    <header class="header">
        <h1>To-do List</h1>
        <input type="text" class="todo-text" [placeholder]="placeholder" autofocus>
    </header>
</section>
<section class="main" style="display: block;">
    <input type="checkbox" id="toggle-all" [checked]="toggleAllBtn" (click)="toggleAll()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
        <li data-id="1601" *ngFor="let todo of todoDataList">
            <div class="view">
                <input type="checkbox" id="item-checkbox" [checked]="todo.status" (click)="clickCheck(todo.status)">
                <label for="item-checkbox">{{todo.thing}}</label>
                <button>x</button>
            </div>
        </li>
    </ul>
</section>
