<form #form="ngForm">
    <div class="formGroup">
        <label>帳號：
            <input #iAccount="ngModel" type="email" class="formControl" name="userEmail" id="email" [(ngModel)]="myEmail" pattern="^[a-zA-Z0-9.!#$%&』*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$" required>
        </label>
    </div>
    <div class="errors" *ngIf="iAccount.errors">
        <p *ngIf="iAccount.hasError('required')">請輸入帳號</p>
        <p *ngIf="iAccount.hasError('pattern')">信箱格式錯誤</p>
    </div>
    <br>
    <div class="formGroup">
        <label>密碼：
            <input #iPassword="ngModel" type="password" class="formControl" name="userPassword" id="password" [(ngModel)]="myPassword" minlength="6" required>
        </label>
    </div>
    <div class="errors" *ngIf="iPassword.errors">
        <p *ngIf="iPassword.hasError('required')">請輸入密碼</p>
        <p *ngIf="iPassword.hasError('minlength')">密碼長度須超過 6 字元</p>
    </div>
</form>

<pre>{{form.value | json}}</pre>