.errors {
    color: red;
}

.input_alert {
  border: 1px solid red;
}

.dropdown-item {
  border: 1px solid black;
  cursor: pointer;
}

.silkscreen-dropdown__icon {
  width: 24px;
  height: 24px;
}
