<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-aside-nav></app-aside-nav>
        </div>
        <div class="col-10">
            <ul class="list">
                <li class="list__item">
                    <a routerLink="">回首頁</a> |
                </li>
                <li class="list__item">
                    <a routerLink="store">Store</a> |
                </li>
                <li class="list__item">
                    <a routerLink="hero">Hero</a> |
                </li>
                <li class="list__item">
                    <a routerLink="parent">Parent</a> |
                </li>
                <li class="list__item">
                    <a routerLink="subscribe">subscribe</a> |
                </li>
                <li class="list__item">
                    <a routerLink="source">source</a> |
                </li>
                <li class="list__item">
                    <a routerLink="system">system</a> |
                </li>
                <li class="list__item">
                    <a routerLink="systemGroup">systemGroup</a> |
                </li>
                <li class="list__item">
                    <a routerLink="eletronicClock">eletronic-clock</a> |
                </li>
                <li class="list__item">
                    <a routerLink="drivenForm">Driven Form</a> |
                </li>
                <li class="list__item">
                    <a routerLink="reactiveForm">Reactive Form</a> |
                </li>
                <li class="list__item">
                    <a routerLink="counter">Counter</a> |
                </li>
            </ul>
    
            <router-outlet />
        </div>
    </div>
    
    
</div>
