<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-aside-nav></app-aside-nav>
        </div>
        <div class="col-10">
            <ul class="list">
                <li class="list__item">
                    <a routerLink="">回首頁</a> |
                </li>
                <li class="list__item">
                    <a routerLink="store" routerLinkActive="selected">Store</a> |
                </li>
                <li class="list__item">
                    <a routerLink="hero" routerLinkActive="selected">Hero</a> |
                </li>
                <li class="list__item">
                    <a routerLink="parent" routerLinkActive="selected">Parent</a> |
                </li>
                <li class="list__item">
                    <a routerLink="subscribe" routerLinkActive="selected">subscribe</a> |
                </li>
                <li class="list__item">
                    <a routerLink="source" routerLinkActive="selected">source</a> |
                </li>
                <li class="list__item">
                    <a routerLink="system" routerLinkActive="selected">system</a> |
                </li>
                <li class="list__item">
                    <a routerLink="systemGroup" routerLinkActive="selected">systemGroup</a> |
                </li>
                <li class="list__item">
                    <a routerLink="eletronicClock" routerLinkActive="selected">eletronic-clock</a> |
                </li>
                <li class="list__item">
                    <a routerLink="drivenForm" routerLinkActive="selected">Driven Form</a> |
                </li>
                <li class="list__item">
                    <a routerLink="reactiveForm" routerLinkActive="selected">Reactive Form</a> |
                </li>
                <li class="list__item">
                    <a routerLink="counter" routerLinkActive="selected">Counter</a> |
                </li>
                <li class="list__item">
                    <a routerLink="todo" routerLinkActive="selected">Todo</a> |
                </li>
                <li class="list__item">
                    <a routerLink="astronautMission" routerLinkActive="selected">Astronaut Mission</a> |
                </li>
            </ul>

            <router-outlet />
        </div>
    </div>


</div>
