.speech-bubble {
  width: 200px;
  height: 100px;
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  border: 1px solid black;
}

.speech-bubble:before, .speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  margin-top: -21px;
}

.speech-bubble:before {
  border-right-color: black;
  margin-left: -41px;
}

.speech-bubble:after {
  border-right-color: #00aabb;
  margin-left: -40px;
}

.silkscreen-dropdown__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
