<div class="box"></div>

<div class="element"></div>

  <!-- <form-field class="main-right-main-row checkbox-dropdown" appearance="underline">
    <dropdown  [padding]="'0 10px 0 0'" [type]="'checkbox'" [fontColor]="data.Component.length === 0 ? '#c8c8c8' : '#646464'" [fontSize]="'1vw'" [lineHeight]="'40px'">
      <dropdown-item *ngFor="let text of componentType">
        <label class="checkbox-dropdown__item">
          <input class="checkbox-dropdown__input" type="checkbox" (change)="setSelectValue('Component', text)">
          <i class="checkbox-dropdown__checkbox"><svg><polyline points="0,3 3,7 8,0" /></svg></i>
          <p class="checkbox-dropdown__text">{{text}}</p>
        </label>
      </dropdown-item>
    </dropdown>
  </form-field> -->

  <!-- <div class="main-right-main-row" *ngIf="data.Component.indexOf('Other') !== -1">
    <input class="main-right-main-row__input" type="text" placeholder="Please specify" [(ngModel)]="data.OtherComponent">
  </div> -->
