<h1>{{status}}</h1>
<div class="status-block"
[ngClass]="{
  'status-block_launch': status === 'launch',
  'status-block_offline': status === 'offline',
  'status-block_processing': status === 'Processing'
}"
></div>
<br>
<br>

<select (change)="changeStatus($event)">
  <option value="" selected>select</option>
  <option value="launch" class="disable">Launch</option>
  <option value="offline">Offline</option>
</select>


<br>
<br>
<br>
<h2>type and tools</h2>
<div class="type" *ngFor="let item of getDataArray()">
  <div class="type-name">Type：{{item.key}}</div>
  <div class="type-tools">
    <p class="tool">Tools：
      <span *ngFor="let tool of item.value.TotalTool" [ngClass]="{'highlight': item.value.LaunchTool.includes(tool)}">
        {{tool}}
      </span>
    </p>
  </div>
  <hr>
</div>

<h2>NgSwitch</h2>
<ng-container [ngSwitch]="control">
  <p *ngSwitchCase="'drag'">
    drag！！！
  </p>
  <ng-container *ngSwitchCase="'file'">
    file！！！
  </ng-container>
</ng-container>
