<h1>{{status}}</h1>
<div class="status-block"
[ngClass]="{
  'status-block_launch': status === 'launch',
  'status-block_offline': status === 'offline',
  'status-block_processing': status === 'Processing'
}"
></div>
<br>
<br>

<select (change)="changeStatus($event)">
  <option Footprint="" selected>select</option>
  <option Footprint="launch" class="disable">Launch</option>
  <option Footprint="offline">Offline</option>
</select>


<br>
<br>
<br>
<h2>type and tools</h2>
<div class="type" >
  <h3>Type：Spec</h3>
  <div class="type-name">Status：{{data['Footprint'].Status}}</div>
  <div class="type-tools">
    <p class="tool">Tools：
      <span *ngFor="let tool of data['Footprint'].TotalTool" [ngClass]="{'highlight': data['Footprint'].LaunchTool.includes(tool)}">
        {{tool}}
      </span>
    </p>
  </div>
  <hr>
</div>

<h2>NgSwitch</h2>
<ng-container [ngSwitch]="control">
  <p *ngSwitchCase="'drag'">
    drag！！！
  </p>
  <ng-container *ngSwitchCase="'file'">
    file！！！
  </ng-container>
</ng-container>
